.BlogContainer .Navbar {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BlogContainer .Navbar .BlogLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: #1f2a4b;
  font-weight: 600;
}

.BlogContainer .Navbar .BlogLogo svg {
  margin-right: 1rem;
}

.BlogContainer .Navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .BlogContainer .Navbar {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .BlogContainer .Navbar {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 639px) {
  .BlogContainer .Navbar {
    padding: 24px 24px 1.25rem;
  }
}

.Hamburger {
  height: 40;
}
.Navbar {
  align-items: center !important;
}
