.HowDharmaWorksContainer .Questions {
  margin: 12.5rem 0;
}

.HowDharmaWorksContainer .Questions h2 {
  margin-bottom: 0;
}

@media screen and (max-width: 639px) {
  .HowDharmaWorksContainer .Questions {
    margin: 6.25rem 0;
  }
}
