@font-face {
  font-family: "Graphik Web Bold";
  src: url("//db.onlinewebfonts.com/t/03d44a9a83b9f8a39806dac12ec6d615.eot");
  src: url("//db.onlinewebfonts.com/t/03d44a9a83b9f8a39806dac12ec6d615.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/03d44a9a83b9f8a39806dac12ec6d615.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/03d44a9a83b9f8a39806dac12ec6d615.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/03d44a9a83b9f8a39806dac12ec6d615.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/03d44a9a83b9f8a39806dac12ec6d615.svg#Graphik Web Bold")
      format("svg");
}
body {
}
