.BlogContainer h1,
.BlogContainer h2,
.BlogContainer h3,
.BlogContainer h4,
.BlogContainer h5,
.BlogContainer h6 {
  color: #1f2a4b;
}

.BlogContainer h1 {
  font-weight: 700;
  font-size: 5.375rem;
  letter-spacing: -0.025em;
}

.BlogContainer h2,
.BlogContainer h5 {
  font-weight: 600;
}

.BlogContainer h2 {
  font-size: 1.5rem;
  margin-bottom: 1.563rem;
  line-height: 63px;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

.BlogContainer h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 30px;
}

.BlogContainer h5 {
  font-size: 1.75rem;
  margin-bottom: 1.563rem;
}

.BlogContainer p {
  color: #6e7898;
  font-size: 0.875rem;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
}

@media screen and (max-width: 1023px) {
  .BlogContainer h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .BlogContainer h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 639px) {
  .BlogContainer h1 {
    font-size: 2.875rem;
  }

  .BlogContainer h2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 639px) {
  .BlogContainer h2 {
    font-size: 1.25rem;
  }
}
