.login_wrapper .left-Login {
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  flex: 1;
  min-height: 100%;
}

.login_wrapper .right-Login {
  display: flex;
  box-sizing: border-box;
  flex: 1;
}

@media only screen and (max-width: 643px) {
  .login_wrapper .right-Login {
    display: none;
  }
}

.login_wrapper .login-header {
  color: rgb(31, 42, 75);
  margin-bottom: 44px;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1.1;
  white-space: pre-line;
}

.login_wrapper .form {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 485px;
  margin-top: 70px;
  box-sizing: border-box;
  padding: 0px 30px 50px;
}

.login_wrapper .input_wrapper {
  margin-bottom: 27px;
  box-sizing: border-box;
}

.login_wrapper .label_wrapper {
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
  box-sizing: border-box;
}

.login_wrapper .label {
  color: rgb(110, 120, 152);
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  white-space: pre-line;
}

.login_wrapper .inputbox_wrapper {
  position: relative;
  box-sizing: border-box;
}

.login_wrapper .input {
  box-shadow: rgb(222, 226, 239) 0px 0px 0px 1px inset;
  background-color: rgb(255, 255, 255);
  color: rgb(31, 42, 75);
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 60px;
  line-height: normal;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  -webkit-appearance: none;
  box-sizing: border-box;
  outline-color: transparent;
  outline-offset: 4px;
  outline-style: none;
  outline-width: 1px;
  transition-duration: 150ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
  border-radius: 4px;
  border-width: 0px;
}

.login_wrapper .input:hover {
  background-color: rgb(248, 249, 252);
}

.login_wrapper .input:focus,
.login_wrapper .input:active {
  box-shadow: rgb(110, 120, 152) 0px 0px 0px 2px inset,
    rgba(110, 120, 152, 0.18) 0px 0px 0px 4px;
}

.login_wrapper .label_forgot_pass_wrapper {
  background-image: linear-gradient(
    94deg,
    rgb(87, 34, 255) 12%,
    rgb(198, 3, 255) 86%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login_wrapper .label_forgot_pass {
  margin-bottom: 8px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  white-space: pre-line;
}

.login_wrapper .password_toggler {
  position: absolute;
  top: 17px;
  right: 20px;
  box-sizing: border-box;
}

.login_wrapper .password_toggler_icon_wrapper {
  color: rgb(110, 120, 152);
  cursor: pointer;
  opacity: 0.6;
  display: block;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  text-decoration: none;
}

.login_wrapper .password_toggler_icon {
  font-size: 20px;
  stroke: rgb(110, 120, 152);
}

.login_wrapper .Login_button {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  height: 70px;
  line-height: 1;
  padding-left: 48px;
  padding-right: 48px;
  width: 100%;
  -webkit-appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  outline-style: none;
  text-align: center;
  transition-duration: 200ms;
  user-select: none;
  white-space: nowrap;
  box-shadow: rgba(31, 42, 75, 0.11) 0px 5px 10px;
  color: white;
  border-radius: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  text-decoration: none;
  background: linear-gradient(
    50.4deg,
    rgb(0, 84, 253) 0%,
    rgb(255, 25, 247) 32.29%,
    rgb(255, 46, 93) 57.29%,
    rgb(255, 170, 7) 84.38%,
    rgb(230, 185, 116) 100%
  );
}

.login_wrapper .Login_button:hover {
  transform: translateY(-3px);
}

.login_wrapper .or_login_wrapper {
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.login_wrapper .or_login_line {
  background-color: rgb(222, 226, 239);
  display: flex;
  height: 1px;
  box-sizing: border-box;
  flex: 1 1 0%;
}

.login_wrapper .or_login_text {
  margin-left: 10px;
  margin-right: 10px;
  white-space: pre-line;
  color: rgb(110, 120, 152);
}

.login_wrapper .log_with_other {
  max-width: 400px;
  box-shadow: rgba(31, 42, 75, 0.11) 0px 5px 10px;
  background: linear-gradient(
    317.9deg,
    rgb(44, 142, 255) 1.68%,
    rgb(57, 71, 251) 39.87%
  );
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  height: 70px;
  letter-spacing: 0px;
  line-height: 1;
  min-width: 100%;
  padding-left: 44px;
  padding-right: 44px;
  margin-bottom: 38px;
  text-transform: none;
  width: 100%;
  -webkit-appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  outline-style: none;
  text-align: center;
  transition-duration: 200ms;
  user-select: none;
  white-space: nowrap;
  border-radius: 5px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  text-decoration: none;
}

.login_wrapper .logo_navabr {
  width: 50px;
  /* margin: 10px 0 -10px -60px; */
  position: absolute;
  top: 5%;
  left: 3.5%;
}

@media only screen and (max-width: 1366px) {
  .login_wrapper .logo_navabr {
    position: absolute;
    top: 7%;
    left: 4%;
  }
}

@media only screen and (max-width: 1280px) {
  .login_wrapper .logo_navabr {
    /* margin: 10px 0 -3px 0px; */
    top: 5.5%;
    left: 4%;
  }
}

@media only screen and (max-width: 991px) {
  .login_wrapper .logo_navabr {
    left: 3%;
    top: 4%;
    width: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .login_wrapper .logo_navabr {
    left: 4%;
    top: 3%;
  }
}

@media only screen and (max-width: 643px) {
  .login_wrapper .logo_navabr {
    /* margin: 10px 0 -5px -18%; */
    top: 3%;
  }
}

@media only screen and (max-width: 500px) {
  .login_wrapper .logo_navabr {
    /* margin: 10px 0 -3px 0; */
    left: 6%;
  }
}

.login_wrapper .login_wrapper {
  font-size: 1.4rem;
}

.login_wrapper .login_wrapper {
  font-size: 1.6rem;
  line-height: 1.8;
}
